body{
    /* background: url('doreamon3.jpg'); */
    background-image: linear-gradient(to bottom left, rgb(27, 155, 240), skyblue ,white, skyblue,rgb(27,155,240));
    margin: 0px;
}
nav a img{
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
nav{
    background-color: black;
    color: white;
    padding: 10px;
}
nav a{
    padding: 5px;
    color: white;
    text-decoration: none;
}
/* img {
    padding-right: 5px;
} */
#footer{
    background-color: black;
    color: white;
    position: sticky;
    height: 130px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myprogress{
    width: 80vw;
    cursor: pointer;
}
/* #icons{
    
} */
.container{
    height: 85vh;
    width: 70%;
    color: white;
    background-color: rgb(22, 159, 204);
    border: 5px solid black;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#playlist{
    width: 50%;
    margin: 30px 30px;
    
}
#banner{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#coverimage:hover{
width: 350px;
height: 350px;
box-shadow: 10px 10px 30px rgb(53, 49, 45);
}
#icons i{
    padding: 5px;
}
#img1{
    width: 30px;
    height: 30px;
}
.num1{
    display: flex;
    justify-content: space-around;
align-items: center;
background-color: white;
color: black;
border: 2px solid rgb(19, 27, 29);
border-radius: 5px;
margin: 10px;


}
.num1:hover{
    box-shadow: 10px 10px 30px rgb(53, 49, 45);
}
#song1 i{
    padding: 5px;
}